<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>stimulsoft</display-name>
  <welcome-file-list>
    <welcome-file>faces/designer.xhtml</welcome-file>
  </welcome-file-list>
  <session-config>
    <session-timeout>60</session-timeout>
  </session-config>
  <servlet>
    <servlet-name>StimulsoftResource</servlet-name>
    <servlet-class>com.stimulsoft.web.servlet.StiWebResourceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StimulsoftResource</servlet-name>
    <url-pattern>/stimulsoft_web_resource/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>StimulsoftDesignerAction</servlet-name>
    <servlet-class>com.stimulsoft.webdesigner.servlet.StiWebDesignerActionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StimulsoftDesignerAction</servlet-name>
    <url-pattern>/stimulsoft_webdesigner_action</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>StimulsoftAction</servlet-name>
    <servlet-class>com.stimulsoft.webviewer.servlet.StiWebViewerActionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StimulsoftAction</servlet-name>
    <url-pattern>/stimulsoft_webviewer_action</url-pattern>
  </servlet-mapping>  
  <servlet>
    <servlet-name>Faces Servlet</servlet-name>
    <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Faces Servlet</servlet-name>
    <url-pattern>/faces/*</url-pattern>
  </servlet-mapping>
  <context-param>
    <description>State saving method: 'client' or 'server' (=default). See JSF Specification 2.5.2</description>
    <param-name>javax.faces.STATE_SAVING_METHOD</param-name>
    <param-value>client</param-value>
  </context-param>
  <context-param>
    <param-name>javax.servlet.jsp.jstl.fmt.localizationContext</param-name>
    <param-value>resources.application</param-value>
  </context-param>
  <listener>
    <listener-class>com.sun.faces.config.ConfigureListener</listener-class>
  </listener>
</web-app>